.MoveToTop {
  color: #ffa500;
}
.MoveToTop:hover {
  transition: all 0.1s ease-in-out; /* Add a smooth transition effect */
  transform: scale(2); /* Scale the icon when hovered */
  color: orange; /* Change the color to orange when hovered */
}
