.fontweight {
  font-size: small;
}

.cardStyling {
  background-color: red;
  box-shadow: -10px 10px 0px green;
  min-height: 120px;
  max-height: fit-content;
}
.cardStyling:hover {
  box-shadow: -6px 6px 0px red;
  background-color: lightgreen !important;
}
